.section-subtitle {
  color: saturate(lighten(#182952, 55%), 60%);
  .subtitle-char {
    transition: transform 0.4s cubic-bezier(0.3, 0, 0.3, 1), opacity 1s linear;
    transition-delay: calc(50ms * var(--char-index));
    opacity: 0.1;
  }

  &[data-scroll="in"] .subtitle-char {
    opacity: 1;
    transform: translateY(0.25em);
  }
}
/*-------------*/
@keyframes block {
  0% {
    transform: translate(-110%, 110%);
  }
  45%,
  55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0%);
  }
}
.slide-horizontal .char {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
[data-scroll="in"] .char::after {
  content: "";
  height: 80%;
  width: 100%;
  position: absolute;
  vertical-align: middle;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--v-theme-stroke-1), 0.5);
  border-radius: 20%;
  animation: block calc(0.03s * (10)) calc(0.02s * (var(--char-index))) 1 both;
}

/*-----------------*/

/*-----*/


