@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');




@font-face {
  font-family: 'England';
  src: url('@/assets/fonts/Moonllime.ttf');
  // src: url('@/assets/fonts/England.ttf');

}
#font-england{
  font-family: "England"  !important;
}
// @font-face {
//   font-family: 'Magzo';
//   src: url('../fonts/Magzo.ttf');
// }
// @font-face {
//   font-family: 'Moonllime';
//   src: url('../fonts/Moonllime.ttf');
// }
@font-face {
  font-family: 'salita';
  src: url('@/assets/fonts/Moonllime.ttf');
  // }
}

#font-salita{
  font-family: "salita"  !important;
}


.v-application {
  [class*="text-"] {
    color: #36405a;
    font-family: "Poppins", sans-serif !important;
  }

  font-family: "Poppins", sans-serif !important;
}

.fs-nunito {
  font-family: "Nunito Sans", sans-serif;
}

.fs-poppins {
  font-family: "Poppins", sans-serif !important;
}
.fs-roboto-mono {
  font-family: "Roboto Mono", monospace;
}

body,
html {
  scroll-behavior: smooth;
}

.app-padding {
  padding-left: 13%;
  padding-right: 13%;
}

p {
  letter-spacing: 0.05em;
}

.cursor-pointer {
  cursor: pointer !important;
}

.un:after {
  content: "";
  width: 20px;
  height: 2px;
  margin-top: 3px;
  display: block;
  background: rgb(var(--v-theme-stroke-2), 1);
  transition-duration: 800ms;
}

.shadow-text {
  position: relative;
  left: 0;
  z-index: 1;
  font-weight: bolder;
  font-size: 11rem;
  line-height: 100%;
  text-align: center;
  background: transparent;
  opacity: 0.25 !important;
  background: linear-gradient(
    to top,
    rgb(var(--v-theme-surface), 1) 0%,
    rgb(var(--v-theme-stroke-1), 1) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  //color: rgb(var(--v-theme-stroke-1), 0.04) !important;
}

@media screen and (max-width: 1260px) {
  .app-padding {
    padding-left: 8%;
    padding-right: 8%;
  }
  .shadow-text {
    font-size: 3.4rem;
    //line-height: 60%;
  }
}

.fs-10 {
  font-size: 10px;
}

//animation
.move-animation {
  position: relative;
  animation: move 10s ease-in-out infinite;
}

.move-animation-2 {
  position: relative;
  animation: move 20s ease-in-out infinite;
}

.move-animation-3 {
  position: relative;
  animation: move3 35s ease-in-out infinite;
}

.move-animation-4 {
  position: relative;
  animation: move4 25s linear infinite;
}

.spin-animation {
  transform-origin: center;
  animation: spin-360 5s ease-in-out infinite;
}

@keyframes move {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}

@keyframes move4 {
  100%,
  0% {
    left: 40px;
  }
  50% {
    left: -100px;
  }
}

@keyframes move3 {
  100%,
  0% {
    left: -60px;
    top: 20px;
  }
  90%,
  10% {
    left: 40px;
    top: -30px;
  }
  80%,
  20% {
    left: -20px;
    top: -60px;
  }
  70%,
  30% {
    left: 40px;
    top: -90px;
  }
  60%,
  40% {
    left: -20px;
    top: -120px;
  }
  50% {
    left: 40px;
    top: -150px;
  }
}

@keyframes spin-360 {
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  50%,
  100% {
    left: -1.5px;
  }
  25%,
  75% {
    left: 1.5px;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
