@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Rubik One";
  src: url("../../assets/fonts/RubikOne-Regular.ttf");
}

.font-rubik-one {
  font-family: "Rubik one";
}

html,
body {
  font-family: "Poppins", serif;
}

/* Typography */

.shadow-text {
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: calc(120% + 10vw);
    color: rgb(var(--v-theme-background));
    text-transform: capitalize;
    background:linear-gradient(180deg, rgba(234,191,255,1) 0%, rgba(255,255,255,0.01) 38%, rgba(135,38,183,0.1) 100%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    
  }