@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");


html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: "Rubik One";
  src: url("../../assets/fonts/RubikOne-Regular.ttf");
}

.font-rubik-one {
  font-family: "Rubik one";
}

html,
body {
  font-family: "Poppins", serif;
}

/* Typography */
.text-paragraph{
  font-size: calc(100% + .3vw);
}

.shadow-text {
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: calc(120% + 10vw);
    color: rgb(var(--v-theme-background));
    text-transform: capitalize;
    background:linear-gradient(180deg, rgba(var(--v-theme-primary)) 0%, rgba(var(--v-theme-primary),0.1) 38%, rgba(var(--v-theme-primary),0.5) 100%);
    // background:linear-gradient(180deg, rgba(234,191,255,0.5) 0%, rgba(255,255,255,0.01) 38%, rgba(135,38,183,0.1) 100%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    line-height: 100%;
    margin: 0;
    // margin-bottom: calc(-1% - 4vw);
  }





//animation
.move-animation {
  position: relative;
  animation: move 10s ease-in-out infinite;
}

.move-animation-2 {
  position: relative;
  animation: move 20s ease-in-out infinite;
}

.move-animation-3 {
  position: relative;
  animation: move3 35s ease-in-out infinite;
}

.move-animation-4 {
  position: relative;
  animation: move4 25s linear infinite;
}

.spin-animation {
  transform-origin: center;
  animation: spin-360 5s ease-in-out infinite;
}

@keyframes move {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}

@keyframes move4 {
  100%,
  0% {
    left: 40px;
  }
  50% {
    left: -100px;
  }
}

@keyframes move3 {
  100%,
  0% {
    left: -60px;
    top: 20px;
  }
  90%,
  10% {
    left: 40px;
    top: -30px;
  }
  80%,
  20% {
    left: -20px;
    top: -60px;
  }
  70%,
  30% {
    left: 40px;
    top: -90px;
  }
  60%,
  40% {
    left: -20px;
    top: -120px;
  }
  50% {
    left: 40px;
    top: -150px;
  }
}

@keyframes spin-360 {
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  50%,
  100% {
    left: -1.5px;
  }
  25%,
  75% {
    left: 1.5px;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
